{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header>

        <div class="logo-section">
            <img src="{% static 'images/logo.png' %}" class="logo">
            <h1>Siam Bistro</h1>
        </div>

        <nav>
            <a href="/">Home</a>
            <a href="/menu/">Menu</a>
            <a href="/adminpage/">Administration</a>
            <a href="/contact/">Contact Us</a>
        </nav>

    </header>

    <section class="admin-section">

        <h1>Our Administration Team</h1>

        <div class="admin-container">

            <div class="admin-card">
                <img src="{% static 'images/chef1.jpg' %}">
                <h3>Archen Aydin</h3>
                <p>Head Chef</p>
            </div>

            <div class="admin-card">
                <img src="{% static 'images/chef2.jpg' %}">
                <h3>Boom Tharatorn</h3>
                <p>Restaurant Manager</p>
            </div>

            <div class="admin-card">
                <img src="{% static 'images/chef3.jpg' %}">
                <h3>Namtan Tipnaree</h3>
                <p>Assistant Chef</p>
            </div>

            <div class="admin-card">
                <img src="{% static 'images/chef4.jpg' %}">
                <h3>Joss</h3>
                <p>Pastry Chef</p>
            </div>

            <div class="admin-card">
                <img src="{% static 'images/chef5.jpg' %}">
                <h3>Bonnie</h3>
                <p>Head Accountant</p>
            </div>

        </div>

    </section>

    <footer>

        <img src="{% static 'images/logo.png' %}" class="footer-logo">

        <p>Designed and Developed by Pradeeba</p>

    </footer>

</body>
</html>
