{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siam Bistro</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header>

        <div class="logo-section">
            <img src="{% static 'images/logo.png' %}" class="logo">
            <h1>Siam Bistro</h1>
        </div>

        <nav>
            <a href="/">Home</a>
            <a href="/menu/">Menu</a>
            <a href="/adminpage/">Administration</a>
            <a href="/contact/">Contact Us</a>
        </nav>

    </header>

    <section class="home-container">

        <div class="card">

            <img src="{% static 'images/menu.png' %}">

            <h2>Thai Special Menu</h2>

            <p>
                Enjoy authentic Thai curries, noodles,
                soups and spicy street food specials.
            </p>

            <button>See our menu</button>

        </div>

        <div class="card">

            <img src="{% static 'images/table.png' %}">

            <h2>Book a Table</h2>

            <p>
                Reserve your seat easily and enjoy
                a memorable dining experience.
            </p>

            <button>Book your table</button>

        </div>

        <div class="card">

            <img src="{% static 'images/hours.png' %}">

            <h2>Opening Hours</h2>

            <p>
                Mon - Fri : 11am - 10pm <br>
                Weekend : 12pm - 11pm
            </p>

        </div>

    </section>

    <footer>

        <img src="{% static 'images/logo.png' %}" class="footer-logo">

        <p>Designed and Developed by Pradeeba</p>

    </footer>

</body>
</html>